.bbcode-toolbar {
  display: flex;
  /* 双击不会全选textarea */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bbcode-toolbar [data-cmd] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-clip: padding-box;
  cursor: pointer;
}

.bbcode-toolbar [data-cmd]:hover {
  background: rgba(255, 255, 255, 0.2);
  /* border: 1px solid #eee; */
  box-shadow: none;
}

/* click effect */
.bbcode-toolbar [data-cmd]:active {
  border: 1px solid #999;
  box-shadow: inset 0 0 4px rgb(0 0 0 / 50%);
}

.bbcode-toolbar svg {
  height: 16px;
  width: 16px;
  fill: var(--text);
}
