/* tr.torrentdetails div.table_container.border{
    border: 1px solid #393939;
    border-radius: 5px;
    background: rgba(221, 221, 221, 0.075);
    overflow: hidden;
} */
#subtitle_browse_table tr.subtitle {
  background-color: rgba(0, 0, 0, 0.15);
}



@media only screen and (max-width: 803px) {
  #torrents.details .grid_container {
    display: flex;
    flex-direction: column;
  }
  #torrents.details .grid_container .main_column {
    order: 1;
  }
  #torrents.details .grid_container .sidebar {
    order: 2;
  }
}

.torrentdetails_sendbonus {
  margin: 10px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.torrentdetails_sendbonus .icon {
  width: 16px;
  height: 16px;
}
#icon-cnt {
  float: right;
  display: flex;
  gap: 5px;
}
#icon-cnt .icon {
  width: 16px;
  height: 16px;
  color: #3d81b1;
}
#icon-cnt .fa-thumbs-up {
  font-size: 16px;
}
